<div class="layui-card layadmin-breadcrumb">
  <div class="layui-breadcrumb" lay-filter="LAY-filter-breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>组件</cite></a>
    <a><cite>栅格</cite></a>
    <a><cite>全端复杂组合</cite></a>
  </div>
</div>

<style>
  #LAY-id-grid-all .layui-row .layui-card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    height: 200px;
  }
</style>
<div class="layui-fluid" id="LAY-id-grid-all">
  <div class="layui-row layui-col-space10">
    <div class="layui-col-xs6 layui-col-sm7 layui-col-md3">
      <div class="layui-card">
        <div class="layui-card-body">1</div>
      </div>
    </div>
    <div class="layui-col-xs6 layui-col-sm5 layui-col-md3">
      <div class="layui-card">
        <div class="layui-card-body">2</div>
      </div>
    </div>
    <div class="layui-col-xs6 layui-col-sm5 layui-col-md3">
      <div class="layui-card">
        <div class="layui-card-body">3</div>
      </div>
    </div>
    <div class="layui-col-xs6 layui-col-sm7 layui-col-md3">
      <div class="layui-card">
        <div class="layui-card-body">4</div>
      </div>
    </div>
    <div class="layui-col-xs6 layui-col-sm7 layui-col-md9">
      <div class="layui-card">
        <div class="layui-card-body">5</div>
      </div>
    </div>
    <div class="layui-col-xs6 layui-col-sm5 layui-col-md3">
      <div class="layui-card">
        <div class="layui-card-body">6</div>
      </div>
    </div>
    <div class="layui-col-xs6 layui-col-sm5 layui-col-md3">
      <div class="layui-card">
        <div class="layui-card-body">7</div>
      </div>
    </div>
    <div class="layui-col-xs6 layui-col-sm7 layui-col-md9">
      <div class="layui-card">
        <div class="layui-card-body">8</div>
      </div>
    </div>
  </div>
</div>
