<div class="layui-card layadmin-breadcrumb">
  <div class="layui-breadcrumb" lay-filter="LAY-filter-breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>组件</cite></a>
    <a><cite>栅格</cite></a>
    <a><cite>九宫格</cite></a>
  </div>
</div>

<style>
  #LAY-id-grid-speed-dial .layui-row .layui-card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
  }
  #LAY-id-grid-speed-dial .layui-card-body:hover {
    background-color: #fafafa;
  }
</style>
<div class="layui-fluid" id="LAY-id-grid-speed-dial">
  <div class="layui-row layui-col-space1">
    <script type="text/html" template lay-done="resize();">
      {{# for(let i=1; i<10; i++){ }}
        <div class="layui-col-xs4">
          <div class="layui-card">
            <div class="layui-card-body">{{ i }}</div>
          </div>
        </div>
      {{# } }}
    </script>
  </div>
</div>
<script>
  function resize() {
    layui.use('admin', () => {
      let $ = layui.$,
        admin = layui.admin
      admin.resize(() => {
        let cardBody = $('#LAY-id-grid-speed-dial .layui-card-body')
        cardBody.height(cardBody.width())
      })
    })
  }
</script>
