<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>忘记密码 - layuiMoyu</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link
      rel="stylesheet"
      href="../../layuiadmin/layui/css/layui.css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="../../layuiadmin/style/login.css"
      media="all"
    />
  </head>
  <body>
    <div
      class="layadmin-user-login layadmin-user-display-show"
      id="LAY-user-login"
    >
      <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
          <h2>layuiMoyu</h2>
          <p>摸🐟 - 基于Layui的练习项目</p>
        </div>
        <div
          class="layadmin-user-login-box layadmin-user-login-body layui-form"
        >
          <script type="text/html" template>
            {{# if(layui.router().search.type === 'resetpass' ){ }}
              <div class="layui-form-item">
                <label
                  class="layadmin-user-login-icon layui-icon layui-icon-password"
                  for="LAY-user-login-password"
                ></label>
                <input
                  type="password"
                  id="LAY-user-login-password"
                  class="layui-input"
                  name="password"
                  placeholder="新密码"
                  lay-verify="pass"
                />
              </div>
              <div class="layui-form-item">
                <label
                  class="layadmin-user-login-icon layui-icon layui-icon-password"
                  for="LAY-user-login-repass"
                ></label>
                <input
                  type="password"
                  id="LAY-user-login-repass"
                  class="layui-input"
                  name="repass"
                  placeholder="确认密码"
                  lay-verify="required"
                />
              </div>
              <div class="layui-form-item">
                <button
                  class="layui-btn layui-btn-fluid"
                  lay-filter="LAY-user-forget-resetpass"
                  lay-submit
                >
                重置密码
                </button>
              </div>
            {{# } else { }}
              <div class="layui-form-item">
                <label
                  class="layadmin-user-login-icon layui-icon layui-icon-cellphone"
                  for="LAY-user-cellphone"
                ></label>
                <input
                  type="text"
                  id="LAY-user-cellphone"
                  class="layui-input"
                  name="cellphone"
                  placeholder="请输入注册时的手机号"
                  lay-verify="phone"
                />
              </div>
              <div class="layui-form-item">
                <div class="layui-row">
                  <div class="layui-col-xs7">
                    <label
                      for="LAY-user-login-vercode"
                      class="layadmin-user-login-icon layui-icon layui-icon-vercode"
                    ></label>
                    <input
                      type="text"
                      class="layui-input"
                      id="LAY-user-login-vercode"
                      name="vercode"
                      placeholder="图形验证码"
                      lay-verify="required"
                    />
                  </div>
                  <div class="layui-col-xs5">
                    <div style="margin-left: 10px;">
                      <img
                        src="https://www.oschina.net/action/user/captcha"
                        class="layadmin-user-login-codeimg"
                        id="LAY-user-get-vercode"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-row">
                  <div class="layui-col-xs7">
                    <label
                      for="LAY-user-smscode"
                      class="layadmin-user-login-icon layui-icon layui-icon-vercode"
                    ></label>
                    <input
                      type="text"
                      class="layui-input"
                      id="LAY-user-smscode"
                      name="smscode"
                      placeholder="短信验证码"
                      lay-verify="required"
                    />
                  </div>
                  <div class="layui-col-xs5">
                    <div style="margin-left: 10px;">
                      <button
                        class="layui-btn layui-btn-primary layui-btn-fluid"
                        id="LAY-user-get-smscode"
                      >
                        获取验证码
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="layui-form-item">
                <button
                  class="layui-btn layui-btn-fluid"
                  lay-filter="LAY-user-forget-submit"
                  lay-submit
                >
                找回密码
                </button>
              </div>
            {{# } }}
          </script>
        </div>
      </div>
      <div class="layadmin-user-login-footer layui-trans">
        <p>
          © 2020 <a href="http://www.layui.com/" target="_blank">layui.com</a>
        </p>
      </div>
    </div>
    <script src="../../layuiadmin/layui/layui.js"></script>
    <script>
      layui
        .config({
          base: '../../layuiadmin/',
        })
        .extend({
          index: 'lib/index',
        })
        .use(['index', 'user'], () => {
          let $ = layui.$,
            setter = layui.setter,
            admin = layui.admin,
            view = layui.view,
            form = layui.form

          form.render()

          // 找回密码
          form.on('submit(LAY-user-forget-submit)', (data) => {
            let field = data.field

            admin.req({
              url: setter.base + 'json/user/forget.json',
              data: field,
              done(res) {
                location.hash = '/type=resetpass'
                location.reload()
              },
            })

            return false
          })

          // 重置密码
          form.on('submit(LAY-user-forget-resetpass)', (data) => {
            let field = data.field

            if (field.password !== field.repass) {
              return layer.msg('两次密码输入不一致')
            }

            admin.req({
              url: setter.base + 'json/user/resetpass.json',
              data: field,
              done(res) {
                layer.msg(
                  '密码已成功重置',
                  {
                    offset: '15px',
                    icon: 1,
                    time: 1000,
                  },
                  () => {
                    location.href = 'login.html'
                  },
                )
              },
            })

            return false
          })
        })
    </script>
  </body>
</html>
