<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>设置我的密码</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link rel="stylesheet" href="../../../../layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../../../style/public.css" media="all" />
  </head>
  <body>
    <div class="layui-fluid">
      <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-header">修改密码</div>
            <div class="layui-card-body">
              <div class="layui-form">
                <div class="layui-form-item">
                  <label class="layui-form-label">当前密码</label>
                  <div class="layui-input-inline">
                    <input
                      type="password"
                      class="layui-input"
                      name="oldPassword"
                      lay-verify="required"
                      lay-verType="tips"
                      autocomplete="off"
                    />
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">新密码</label>
                  <div class="layui-input-inline">
                    <input
                      type="password"
                      class="layui-input"
                      id="LAY-id-new-password"
                      name="password"
                      lay-verify="pass"
                      lay-verType="tips"
                      autocomplete="off"
                    />
                  </div>
                  <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">确认新密码</label>
                  <div class="layui-input-inline">
                    <input
                      type="password"
                      class="layui-input"
                      name="repassword"
                      lay-verify="repass"
                      lay-verType="tips"
                      autocomplete="off"
                    />
                  </div>
                </div>
                <div class="layui-form-item">
                  <div class="layui-input-block">
                    <button class="layui-btn" id="LAY-id-submit-btn" lay-submit lay-filter="LAY-filter-set-password">
                      确认修改
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../../../layui/layui.js"></script>
    <script>
      layui
        .config({
          base: '../../../../src/',
        })
        .use(['index', 'set'], () => {
          let $ = layui.$,
            admin = layui.admin

          admin.focusEnd($('[name=oldPassword]'))
          admin.enterSubmit($('#LAY-id-submit-btn'))
        })
    </script>
  </body>
</html>
