<div class="layui-card layadmin-breadcrumb">
  <div class="layui-breadcrumb" lay-filter="LAY-filter-breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>组件</cite></a>
    <a href="http://layer.layui.com/" target="_blank">layer</a>
    <a><cite>功能演示</cite></a>
  </div>
</div>

<script type="text/html" template lay-done="layerDemo()">
  <div class="layui-fluid">
    <div class="layui-row layui-col-space10">
      <div class="layui-col-md12">
        <div class="layui-card demo-component-layer">
          <div class="layui-card-header">弹层之美</div>
          <div class="layui-card-body">
            <blockquote class="layui-elem-quote">
              layer 是 layui 中最广为人知的组件，它可以轻松应对 Web
              应用开发中的各类复杂的弹出交互。有人说使用 layer
              是一种情怀，一旦用上了，就离不开了。有多少人是因为 layer 才选择
              layui 的呢，有一种信仰，叫：无条件相信
            </blockquote>
          </div>
        </div>
        <div class="layui-card">
          <div class="layui-card-header">弹层类型</div>
          <div class="layui-card-body">
            <div class="layui-btn-container">
                {{# let layerTypes = ['alert','confirm','msg','tips','page','iframe','prompt','tab','photos'] }}
                {{# layui.each(layerTypes, (index,item)=>{ }}
                <button class="layui-btn layui-btn-primary" data-type="{{ item }}" style="text-transform: capitalize">{{ item }}</button>
                {{# }) }}
            </div>
          </div>
        </div>
        <div class="layui-card">
          <div class="layui-card-header">常规使用</div>
          <div class="layui-card-body">
            <div class="layui-btn-container">
                {{# let useTypes = ['信息框','询问层','提示层','墨绿深蓝风','捕获页','页面层','自定风格','tips层1','tips层2','iframe层','iframe窗','加载层1','加载层2','prompt层','tab层','相册层'] }}
                {{# layui.each(useTypes, (index,item)=>{ }}
                <button class="layui-btn layui-btn-primary" data-type="useType{{ index }}">{{ item }}</button>
                {{# }) }}
            </div>
          </div>
        </div>
        <div class="layui-card">
          <div class="layui-card-header">信息框</div>
          <div class="layui-card-body">
            <div class="layui-btn-container">
                {{# let msgTypes = ['例1','例2','例3','例4','例5','例6'] }}
                {{# layui.each(msgTypes, (index,item)=>{ }}
                <button class="layui-btn layui-btn-primary" data-type="msgType{{ index }}">{{ item }}</button>
                {{# }) }}
            </div>
          </div>
        </div>
        <div class="layui-card">
          <div class="layui-card-heaer">页面层与iframe层</div>
          <div class="layui-card-body">
            <div class="layui-btn-container">
                {{# let pageAndIframes = ['自定义页面','iframe父子通讯','禁止iframe滚动条'] }}
                {{# layui.each(pageAndIframes, (index,item)=>{ }}
                <button class="layui-btn layui-btn-primary" data-type="pf{{ index }}" {{ index===1?'id="LAY-id-layer-iframe"':'' }}>{{ item }}</button>
                {{# }) }}
            </div>
          </div>
        </div>
        <div class="layui-card">
          <div class="layui-card-header">加载层</div>
          <div class="layui-card-body">
            <div class="layui-btn-container">
                {{# let loadTypes = ['风格1','风格2','风格3','风格4'] }}
                {{# layui.each(loadTypes, (index,item)=>{ }}
                <button class="layui-btn layui-btn-primary" data-type="load{{ index }}">{{ item }}</button>
                {{# }) }}
            </div>
          </div>
        </div>
        <div class="layui-card">
          <div class="layui-card-header">tips层</div>
          <div class="layui-card-body">
            <div class="layui-btn-container">
                {{# let tipTypes = ['显示在上','显示在右','显示在下','显示在左','不销毁上一个tips'] }}
                {{# layui.each(tipTypes, (index,item)=>{ }}
                <button class="layui-btn layui-btn-primary" data-type="tipType{{ index }}">{{ item }}</button>
                {{# }) }}
            </div>
          </div>
        </div>
        <div class="layui-card">
          <div class="layui-card-header">其它示例</div>
          <div class="layui-card-body">
            <div class="layui-btn-container">
                {{# let others = ['最大化弹出','显示在正上方'] }}
                {{# layui.each(others, (index,item)=>{ }}
                <button class="layui-btn layui-btn-primary" data-type="other{{ index }}">{{ item }}</button>
                {{# }) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
<script>
  function layerDemo() {
    layui.use('layer', () => {
      let $ = layui.$,
        admin = layui.admin,
        element = layui.element,
        layer = layui.layer,
        event = {
          alert() {
            layer.alert('你好， 我是alert')
          },
          confirm() {
            layer.confirm(
              '您是如何看待前端开发？',
              {
                btn: ['重要', '奇葩'],
              },
              () => {
                layer.msg('的确很重要', { icon: 1 })
              },
              () => {
                layer.msg('也可以这样', {
                  time: 2000,
                  btn: ['明白了', '知道了'],
                })
              },
            )
          },
          msg() {
            layer.msg('玩命提示中')
          },
          tips() {
            let tips = 1,
              timer = setInterval(() => {
                tips++
                layer.tips('tips: ' + tips, this, { tips })
                if (4 === tips) clearInterval(timer)
              }, 1000)
            layer.tips('tips: ' + tips, this, { tips })
          },
          page() {
            layer.open({
              title: '页面层',
              type: 1,
              shadeClose: true,
              area: admin.screen() < 2 ? ['80%', '300px'] : ['700px', '500px'],
              content: `<div style="padding: 20px">放入任意HTML</div>`,
            })
          },
          iframe() {
            layer.open({
              type: 2,
              maxmin: true,
              shadeClose: true,
              area: admin.screen() < 2 ? ['100%', '80%'] : ['375px', '500px'],
              content: 'http://fly.layui.com/',
            })
          },
          prompt() {
            layer.prompt(
              {
                title: '输入任何口令，并确认',
                formType: 1,
              },
              (pass, index) => {
                layer.close(index)
                layer.prompt({ title: '随便写点啥，并确认', formType: 2 }, (text, index) => {
                  layer.close(index)
                  layer.msg(`演示完毕！您的口令：${pass}<br />您最后写下了：${text}`)
                })
              },
            )
          },
          tab() {
            layer.tab({
              area: admin.screen() < 2 ? ['100%', '80%'] : ['600px', '300px'],
              tab: [
                {
                  title: 'TAB1',
                  content: '<div style="padding: 20px">内容1</div>',
                },
                {
                  title: 'TAB2',
                  content: '<div style="padding: 20px">内容2</div>',
                },
              ],
            })
          },
          photos() {
            $.getJSON('/single/json/layer/photos.json', (json) => {
              layer.photos({
                photos: json,
              })
            })
          },
          useType0() {
            let icon = -1
            ;(function changeIcon() {
              let index = layer.alert(
                'Hi，你好！ 点击确认更换图标',
                {
                  icon,
                  shadeClose: true,
                  title: icon === -1 ? '初体验 - layer ' + layer.v : 'icon: ' + icon,
                },
                changeIcon,
              )
              if (8 === icon++) layer.close(index)
            })()
          },
          useType1() {
            layer.confirm('真的吗？', (index) => {
              layer.msg('真的')
              layer.close(index)
            })
          },
          useType2() {
            layer.msg('玩了命提示中')
          },
          useType3() {
            layer.alert(
              '墨绿风格，点击确认看深蓝',
              {
                skin: 'layui-layer-molv',
                closeBtn: 0,
              },
              () => {
                layer.alert('偶吧深蓝style', {
                  skin: 'layui-layer-lan',
                  closeBtn: 0,
                  anim: 4,
                })
              },
            )
          },
          useType4() {
            layer.open({
              type: 1,
              shade: false,
              title: false,
              content: $('.demo-component-layer'),
              cancel() {
                setTimeout(() => {
                  layer.tips(
                    '捕获就是从页面已经存在的元素上，包裹 layer 的结构，从而弹出显示。是不是比较好玩呢？',
                    '.demo-component-layer',
                    { tips: 3, time: 3000 },
                  )
                }, 300)
              },
            })
          },
          useType5() {
            layer.open({
              type: 1,
              skin: 'layui-layer-rim',
              area: ['420px', '240px'],
              content: '<div style="padding: 10px">任意html内容</div>',
            })
          },
          useType6() {
            layer.open({
              type: 1,
              skin: 'layui-layer-admin',
              closeBtn: 0,
              area: '350px',
              anim: 5,
              shadeClose: true,
              content:
                '<div style="padding: 10px">即传入skin:"样式名"，然后你就可以为所欲为了。你怎么样给她整容都行</div>',
            })
          },
          useType7() {
            layer.tips('Hi，我是tips', this, { tips: 1 })
          },
          useType8() {
            layer.tips('我是另外一个tips，只不过我长得跟之前那位稍有些不一样', this, {
              tips: [3, '#2f9688'],
              time: 3000,
            })
          },
          useType9() {
            layer.open({
              type: 2,
              title: '贤心博客',
              shadeClose: true,
              shade: 0.8,
              area: ['375px', '500px'],
              content: 'http://www.layui.com/',
            })
          },
          useType10() {
            layer.open({
              type: 2,
              title: '百度一下',
              shade: false,
              maxmin: true,
              area: ['90%', '90%'],
              content: 'http://www.baidu.com/',
            })
          },
          useType11() {
            let load = layer.load(0, { shade: false })
            setTimeout(() => {
              layer.close(load)
            }, 2000)
          },
          useType12() {
            let load = layer.load(1, { shade: [0.1, '#fff'] })
            setTimeout(() => {
              layer.close(load)
            }, 2000)
          },
          useType13() {
            layer.prompt({ title: '写点什么吧' }, (value, index) => {
              layer.msg(
                '你写下了：' + value,
                {
                  icon: 6,
                  shade: 0.9,
                },
                () => {
                  layer.close(index)
                },
              )
            })
          },
          useType14() {
            event.tab()
          },
          useType15() {
            event.photos()
          },
          msgType0() {
            layer.alert('见到你真的很高兴', { icon: 6 })
          },
          msgType1() {
            layer.msg('你确定你很帅么？', {
              time: 0,
              btn: ['必须啊', '丑到爆'],
              yes(index) {
                layer.close(index)
                layer.msg('雅蠛蝶 O.o', {
                  icon: 6,
                  time: 0,
                  btn: ['嗷', '嗷', '嗷'],
                })
              },
            })
          },
          msgType2() {
            layer.msg('这是最常用的吧')
          },
          msgType3() {
            layer.msg('并不十分开心。。', { icon: 5 })
          },
          msgType4() {
            layer.msg('玩命卖萌中', () => {
              layer.msg('卖完了')
            })
          },
          msgType5() {
            layer.confirm('真的删除吗？', () => {
              layer.msg('正在删除', { icon: 16 }, () => {
                layer.msg('成功删除', { icon: 1 })
              })
            })
          },
          pf0() {
            layer.open({
              type: 1,
              title: false,
              closeBtn: 0,
              shadeClose: true,
              skin: 'layui-layer-molv',
              area: ['260px', '180px'],
              content: '<div style="padding: 10px">自定义HTML内容</div>',
            })
          },
          pf1() {
            layer.open({
              type: 2,
              area: ['700px', '450px'],
              fixed: false,
              maxmin: true,
              content: layui.setter.views + 'iframe/layer/index.html',
            })
          },
          pf2() {
            layer.open({
              type: 2,
              area: ['360px', '500px'],
              skin: 'layui-layer-rim',
              content: ['http://www.layui.com/', 'no'],
            })
          },
          load0() {
            layer.tips('默认的load,此时icon=0', this, { tips: 1 })
            layer.load()
            setTimeout(() => {
              layer.closeAll('loading')
            }, 2000)
          },
          load1() {
            layer.tips('icon=1的load', this, { tips: 1 })
            layer.load(1)
            setTimeout(() => {
              layer.closeAll('loading')
            }, 2000)
          },
          load2() {
            layer.tips('icon=2的load', this, { tips: 1 })
            layer.load(2)
            setTimeout(() => {
              layer.closeAll('loading')
            }, 2000)
          },
          load3() {
            layer.msg('加载中', { icon: 16, shade: 0.3 })
          },
          tipType0() {
            layer.tips('上', this, { tips: [1, '#42b983'] })
          },
          tipType1() {
            layer.tips('默认就是向右的，3秒后关闭右', this)
          },
          tipType2() {
            layer.tips('下', this, { tips: 3 })
          },
          tipType3() {
            layer.tips('左', this, { tips: [4, '#78BA32'] })
          },
          tipType4() {
            layer.tips('不会销毁之前的', this, { tipsMore: true })
          },
          other0() {
            let index = layer.open({
              type: 2,
              content: 'http://baidu.com',
              area: ['300px', '300px'],
              maxmin: true,
            })
            layer.full(index)
          },
          other1() {
            layer.msg('灵活运用 offset', { offset: 't', anim: 6 })
          },
        }

      $('.layui-btn-container .layui-btn').on('click', function () {
        let type = $(this).data('type')
        event[type] && event[type].call(this)
      })
    })
  }
</script>
