<div class="layui-card layadmin-breadcrumb">
  <div class="layui-breadcrumb" lay-filter="LAY-filter-breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>组件</cite></a>
    <a href="http://layer.layui.com/" target="_blank">layer</a>
    <a><cite>特殊示例</cite></a>
  </div>
</div>

<script type="text/html" template lay-done="layerDemo()">
  <div class="layui-fluid">
    <div class="layui-row layui-col-space10">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">场景</div>
          <div class="layui-card-body">
            <div class="layui-btn-container">
                {{# let scene = [{event:'setTop',title:'多窗口模式，层叠置顶'},{event:'confirmTrans',title:'配置一个透明的询问框'},{event:'notice',title:'示范一个公告层'}] }}
                {{# layui.each(scene, (index,item)=>{ }}
                <button class="layui-btn layui-btn-primary" data-method="{{ item.event }}">{{ item.title }}</button>
                {{# }) }}
            </div>
          </div>
        </div>
        <div class="layui-card">
          <div class="layui-card-header">坐标</div>
          <div class="layui-card-body">
            <div class="layui-btn-container">
                {{# let coordinate = [{event:'t',title:'上弹出'},{event:'r',title:'右弹出'},{event:'b',title:'下弹出'},{event:'l',title:'左弹出'},{event:'lt',title:'左上弹出'},{event:'lb',title:'左下弹出'},{event:'rt',title:'右上弹出'},{event:'rb',title:'右下弹出'},{event:'auto',title:'居中弹出'}] }}
                {{# layui.each(coordinate, (index,item)=>{ }}
                <button class="layui-btn layui-btn-primary" data-method="offset" data-type="{{ item.event }}">{{ item.title }}</button>
                {{# }) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
<script>
  function layerDemo() {
    layui.use('layer', () => {
      let $ = layui.$,
        event = {
          setTop() {
            let othis = this
            layer.open({
              type: 1,
              title: '当你选择该窗体时，即会在最顶端',
              area: ['390px', '260px'],
              shade: 0,
              maxmix: true,
              offset: [
                Math.random() * ($(window).height() - 300),
                Math.random() * ($(window).width() - 390),
              ],
              content:
                '<div style="padding: 10px">当你的页面有很多很多layer窗口，你需要像Window窗体那样，点击某个窗口，该窗体就置顶在上面，那么layer.setTop()可以来轻松实现。它采用巧妙的逻辑，以使这种置顶的性能达到最优。</div>',
              btn: ['继续弹出', '全部关闭'],
              yes() {
                $(othis).click()
              },
              btn2() {
                layer.closeAll()
              },
              zIndex: layer.zIndex,
              success(layero) {
                layer.setTop(layero)
              },
            })
          },
          confirmTrans() {
            layer.closeAll()
            layer.msg(
              '大部分参数都是可以公用的<br>合理搭配，展示不一样的风格',
              {
                time: 5000,
                btn: ['明白了', '知道了', '哦'],
              },
            )
          },
          notice() {
            layer.closeAll()
            layer.open({
              type: 1,
              title: false,
              closeBtn: false,
              area: '300px',
              shade: 0.5,
              id: 'LAY-layui-pro',
              btn: ['火速围观', '残忍拒绝'],
              btnAlign: 'c',
              moveType: 1, // 拖拽模式，0或者1
              content:
                '<div style="padding: 10px; line-height: 22px">你知道吗？亲！<br>layer ≠ layui<br><br>layer只是作为Layui的一个弹层模块，由于其用户基数较大，所以常常会有人以为layui是layerui<br><br>layer虽然已被 Layui 收编为内置的弹层模块，但仍然会作为一个独立组件全力维护、升级。<br><br>我们此后的征途是星辰大海 ^_^</div>',
              success(layero) {
                let btn = layero.find('.layui-layer-btn')
                btn.find('.layui-layer-btn0').attr({
                  href: 'http://www.layui.com/',
                  target: '_blank',
                })
              },
            })
          },
          offset(othis) {
            let type = othis.data('type'),
              text = othis.text()
            layer.open({
              type: 1,
              title: 'offset: ' + type,
              offset: type,
              id: 'layer-demo-' + type,
              content: `<div style="padding: 10px">${text}</div>`,
              btn: '全部关闭',
              btnAlign: 'c',
              shade: 0,
              yes() {
                layer.closeAll()
              },
            })
          },
        }

      $('.layui-btn-container .layui-btn').on('click', function () {
        let type = $(this).data('method')
        event[type] && event[type].call(this, $(this))
      })
    })
  }
</script>
