body {
  background-color: #f8f8f8;
  color: #565656;
}

/* 文本颜色 */
.layui-text-red {
  color: #ff5722;
}
.layui-text-orange {
  color: #ffb800;
}
.layui-text-green {
  color: #009688;
}
.layui-text-cyan {
  color: #2f4056;
}
.layui-text-blue {
  color: #1e9fff;
}
.layui-text-black {
  color: #393d49;
}
.layui-text-gray {
  color: #565656;
}

/**自定义滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
::-webkit-scrollbar-thumb {
  background-color: #9c9da0;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

.layui-moyu-container {
  margin: 0 auto;
  /* border: 1px solid #f8f8f8; */
  border-radius: 5px;
}

.layui-moyu-main {
  margin: 10px;
}

.layui-float-left {
  float: left;
}
.layui-float-right {
  float: right;
}

@media screen and (max-width: 1024px) {
  .layui-moyu-main {
    margin: 5px;
  }
}

/* welcome-1 页面*/
.layui-moyu-main .layui-card {
  border: 1px solid #f8f8f8;
  border-radius: 5px;
  box-sizing: border-box;
}

.layui-moyu-main .layui-card-header i {
  margin-right: 10px;
}

.layui-moyu-main .layui-card .layui-card-content {
  width: 100%;
  height: 210px;
}

/* 数据统计 */
.layui-moyu-main .layui-panel {
  background-color: #f8f8f8;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}
.layui-panel .layui-panel-header {
  padding: 5px 10px 0;
  margin-bottom: 5px;
  font-size: 12px;
}
.layui-panel .layui-panel-body {
  padding: 5px 10px;
}
.layui-panel .layui-moyu-label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 0.25em;
  margin-top: 0.3em;
}

/* 快捷入口 */
.layui-moyu-main .layui-moyu-quick {
  text-align: center;
  margin-top: 5px;
}
.layui-moyu-main .layui-moyu-quick a i {
  display: inline-block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 2px;
  font-size: 30px;
  background-color: #f8f8f8;
  color: #565656;
  transition: all 0.5s;
}
.layui-moyu-main .layui-moyu-quick a cite {
  position: relative;
  top: 2px;
  display: block;
  color: #565656;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
}

/* 系统公告 */
.layui-moyu-main .layui-card-body.layui-text {
  padding: 5px 10px;
}
.layui-notice {
  padding: 7px;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  transition: background 0.2s ease-in-out;
}
.layui-notice:hover {
  background-color: #f8f8f8;
  border-radius: 5px;
}
.layui-notice .layui-notice-title {
  padding-right: 70px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 28px;
  font-size: 14px;
}
.layui-moyu-main .layui-notice .layui-notice-time {
  position: absolute;
  top: 50%;
  right: 10px;
  display: inline-block;
  color: #999999;
  margin-top: -10px;
}
