<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>角色列表</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link rel="stylesheet" href="../../../layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../../style/public.css" media="all" />
  </head>
  <body>
    <div class="layui-fluid">
      <div class="layui-card">
        <div class="layui-form layui-card-header layadmin-card-header-auto">
          <div class="layui-form-item">
            <div class="layui-inline">
              角色
            </div>
            <div class="layui-inline">
              <select name="rolename" lay-filter="LAY-filter-role-search">
                <option value="-1">全部角色</option>
                <option value="0">管理员</option>
                <option value="1">超级管理员</option>
                <option value="2">纠错员</option>
                <option value="3">采购员</option>
                <option value="4">推销员</option>
                <option value="5">运营人员</option>
                <option value="6">编辑</option>
              </select>
            </div>
          </div>
        </div>
        <div class="layui-card-body">
          <div style="padding-bottom: 10px;">
            <button class="layui-btn layadmin-btn-role" data-type="batchDel">
              删除
            </button>
            <button class="layui-btn layadmin-btn-role" data-type="add">
              添加
            </button>
          </div>
          <table id="LAY-role-list" lay-filter="LAY-filter-role-list"></table>
          <script type="text/html" id="buttonTpl">
            {{# if(d.check === true){ }}
              <button class="layui-btn layui-btn-xs">已审核</button>
            {{# } else { }}
              <button class="layui-btn layui-btn-xs layui-btn-primary">未审核</button>
            {{# } }}
          </script>
          <script type="text/html" id="table-tool-rolelist">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">
              <i class="layui-icon layui-icon-edit"></i>
              编辑
            </a>
            <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">
              <i class="layui-icon layui-icon-delete"></i>
              删除
            </a>
          </script>
        </div>
      </div>
    </div>
    <script src="../../../layui/layui.js"></script>
    <script>
      layui
        .config({
          base: '../../../src/',
        })
        .use(['index', 'useradmin', 'table'], () => {
          let $ = layui.$,
            form = layui.form,
            table = layui.table,
            // 表格顶部按钮事件
            event = {
              // 批量删除
              batchDel() {
                let checkStatus = table.checkStatus('LAY-role-list'),
                  checkData = checkStatus.data

                if (checkData.length === 0) {
                  return layer.msg('请选择数据')
                }
                layer.confirm(
                  '确定删除选中的数据吗?',
                  { icon: 3, title: '提示' },
                  (index) => {
                    //执行 Ajax 后重载
                    // $.ajax({})
                    table.reload('LAY-role-list')
                    layer.msg('已删除')
                  },
                )
              },
              // 添加角色
              add() {
                layer.open({
                  type: 2,
                  title: '添加角色',
                  content: 'roleform.html',
                  maxmin: true,
                  area: ['500px', '480px'],
                  btn: ['确定', '取消'],
                  yes(index, layero) {
                    // 通过 window[name] 获取iframe窗体
                    let iframeWindow = window['layui-layer-iframe' + index],
                      submitID = '#LAY-role-submit',
                      filter = 'LAY-filter-role-submit',
                      submit = layero.find('iframe').contents().find(submitID)

                    // 监听iframe表单提交
                    iframeWindow.layui.form.on(`submit(${filter})`, (data) => {
                      let field = data.field // 获取提交的字段
                      //提交 Ajax 成功后，静态更新表格中的数据
                      // $.ajax({})
                      table.reload('LAY-role-list') // 数据刷新
                      layer.close(index) // 关闭弹层
                    })
                    submit.trigger('click')
                  },
                  success(layero, index) {
                    let iframe = layer.getChildFrame('body', index)
                    iframe.find('[name=descr]').focus()
                  },
                })
              },
            }

          // 监听搜索
          form.on('select(LAY-filter-role-search)', (data) => {
            table.reload('LAY-role-list', { where: { role: data.value } })
          })

          // 监听表格顶部按钮点击事件
          $('.layadmin-btn-role').on('click', function () {
            let type = $(this).data('type')
            event[type] ? event[type].call(this) : ''
          })
        })
    </script>
  </body>
</html>
