<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>添加/编辑角色</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link rel="stylesheet" href="../../../layui/css/layui.css" media="all" />
  </head>
  <body>
    <div
      class="layui-form"
      lay-filter="LAY-filter-form-role"
      id="LAY-form-role"
      style="padding: 20px 30px 0 0;"
    >
      <div class="layui-form-item">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-block">
          <select name="rolename" lay-verify="required">
            <option value="0">管理员</option>
            <option value="1">超级管理员</option>
            <option value="2">纠错员</option>
            <option value="3">采购员</option>
            <option value="4">推销员</option>
            <option value="5">运营人员</option>
            <option value="6">编辑</option>
            <option value="7">统计人员</option>
            <option value="8">评估员</option>
          </select>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">权限</label>
        <div class="layui-input-block">
          <input
            type="checkbox"
            class="layui-input"
            name="limits[]"
            lay-skin="primary"
            title="内容系统"
          />
          <input
            type="checkbox"
            class="layui-input"
            name="limits[]"
            lay-skin="primary"
            title="社区系统"
          />
          <input
            type="checkbox"
            class="layui-input"
            name="limits[]"
            lay-skin="primary"
            title="用户"
          />
          <input
            type="checkbox"
            class="layui-input"
            name="limits[]"
            lay-skin="primary"
            title="角色"
          />
          <input
            type="checkbox"
            class="layui-input"
            name="limits[]"
            lay-skin="primary"
            title="评论审核"
          />
          <input
            type="checkbox"
            class="layui-input"
            name="limits[]"
            lay-skin="primary"
            title="发货"
          />
          <input
            type="checkbox"
            class="layui-input"
            name="limits[]"
            lay-skin="primary"
            title="采购"
          />
          <input
            type="checkbox"
            class="layui-input"
            name="limits[]"
            lay-skin="primary"
            title="系统设置"
          />
          <input
            type="checkbox"
            class="layui-input"
            name="limits[]"
            lay-skin="primary"
            title="发邮件"
          />
          <input
            type="checkbox"
            class="layui-input"
            name="limits[]"
            lay-skin="primary"
            title="发短信"
          />
          <input
            type="checkbox"
            class="layui-input"
            name="limits[]"
            lay-skin="primary"
            title="审核"
          />
          <input
            type="checkbox"
            class="layui-input"
            name="limits[]"
            lay-skin="primary"
            title="删库跑路"
          />
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">具体描述</label>
        <div class="layui-input-block">
          <textarea
            class="layui-textarea"
            name="descr"
            lay-verify="required"
            placeholder="请输入内容"
          ></textarea>
        </div>
      </div>
      <div class="layui-form-item layui-hide">
        <button
          class="layui-btn"
          lay-submit
          lay-filter="LAY-filter-role-submit"
          id="LAY-role-submit"
        >
          提交
        </button>
      </div>
    </div>
    <script src="../../../layui/layui.js"></script>
    <script>
      layui
        .config({
          base: '../../../src/',
        })
        .use(['index', 'form'])
    </script>
  </body>
</html>
