<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>出错了</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link rel="stylesheet" href="../../../../layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../../../style/public.css" media="all" />
  </head>
  <body>
    <div class="layui-fluid">
      <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
          <div class="layadmin-tips">
            <i class="layui-icon layui-icon-face-surprised layui-text-black"></i>
            <div class="layui-text">
              <span>好像出错了呢</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../../../layui/layui.js"></script>
    <script>
      layui
        .config({
          base: '../../../../src/',
        })
        .use('index')
    </script>
  </body>
</html>
