<li class="layui-nav-item layui-nav-itemed" data-name="home">
  <a href="javascript:;" lay-tips="主页" lay-direction="2">
    <i class="layui-icon layui-icon-home"></i>
    <cite>主页</cite>
  </a>
  <dl class="layui-nav-child">
    <dd class="layui-this" data-name="console">
      <a lay-href="home/console.html">控制台</a>
    </dd>
    <dd data-name="demo1">
      <a lay-href="home/index-1.html">主页一</a>
    </dd>
    <dd data-name="demo2">
      <a lay-href="home/index-2.html">主页二</a>
    </dd>
  </dl>
</li>
<li class="layui-nav-item" data-name="template">
  <a href="javascript:;" lay-tips="页面" lay-direction="2">
    <i class="layui-icon layui-icon-template"></i>
    <cite>页面</cite>
  </a>
  <dl class="layui-nav-child">
    <dd><a lay-href="">个人主页</a></dd>
    <dd><a lay-href="">通讯录</a></dd>
    <dd><a lay-href="">商品列表</a></dd>
    <dd><a lay-href="">留言板</a></dd>
    <dd><a lay-href="">搜索结果</a></dd>
    <dd><a href="javascript:;">注册</a></dd>
    <dd><a href="javascript:;">登入</a></dd>
    <dd><a href="javascript:;">忘记密码</a></dd>
    <dd><a lay-href="">404页面不存在</a></dd>
    <dd><a lay-href="">错误提示</a></dd>
    <dd><a lay-href="http://www.baidu.com/">百度一下</a></dd>
    <dd><a lay-href="http://www.layui.com/">layui官网</a></dd>
    <dd>
      <a lay-href="http://www.layui.com/admin/">layuiAdmin官网</a>
    </dd>
  </dl>
</li>
<li class="layui-nav-item" data-name="app">
  <a href="javascript:;" lay-tips="应用" lay-direction="2">
    <i class="layui-icon layui-icon-app"></i>
    <cite>应用</cite>
  </a>
  <dl class="layui-nav-child">
    <dd data-name="content">
      <a href="javascript:;">内容系统</a>
      <dl class="layui-nav-child">
        <dd data-name="list" lay-href="">文章列表</dd>
        <dd data-name="tags" lay-href="">分类管理</dd>
        <dd data-name="comment" lay-href="">评论管理</dd>
      </dl>
    </dd>
    <dd data-name="forum">
      <a href="javascript:;">社区系统</a>
      <dl class="layui-nav-child">
        <dd data-name="list"><a lay-href="">帖子列表</a></dd>
        <dd data-name="replys"><a lay-href="">回帖列表</a></dd>
      </dl>
    </dd>
    <dd><a lay-href="">消息中心</a></dd>
    <dd data-name="workorder"><a lay-href="">工单系统</a></dd>
  </dl>
</li>
<li class="layui-nav-item" data-name="senior">
  <a href="javascript:;" lay-tips="高级" lay-direction="2">
    <i class="layui-icon layui-icon-senior"></i>
    <cite>高级</cite>
  </a>
  <dl class="layui-nav-child">
    <dd><a layadmin-event="im">LayIM 通讯系统</a></dd>
    <dd data-name="echarts">
      <a href="javascript:;">Echarts集成</a>
      <dl class="layui-nav-child">
        <dd><a lay-href="">折线图</a></dd>
        <dd><a lay-href="">柱状图</a></dd>
        <dd><a lay-href="">地图</a></dd>
      </dl>
    </dd>
  </dl>
</li>
<li class="layui-nav-item" data-name="user">
  <a href="javascript:;" lay-tips="用户" lay-direction="2">
    <i class="layui-icon layui-icon-user"></i>
    <cite>用户</cite>
  </a>
  <dl class="layui-nav-child">
    <dd><a lay-href="">网站用户</a></dd>
    <dd><a lay-href="">后台管理员</a></dd>
    <dd><a lay-href="">角色管理</a></dd>
  </dl>
</li>
<li class="layui-nav-item" data-name="set">
  <a href="javascript:;" lay-tips="设置" lay-direction="2">
    <i class="layui-icon layui-icon-set"></i>
    <cite>设置</cite>
  </a>
  <dl class="layui-nav-child">
    <dd class="layui-nav-itemed">
      <a href="javascript:;">系统设置</a>
      <dl class="layui-nav-child">
        <dd><a lay-href="">网站设置</a></dd>
        <dd><a lay-href="">邮件服务</a></dd>
      </dl>
    </dd>
    <dd class="layui-nav-itemed">
      <a href="javascript:;">我的设置</a>
      <dl class="layui-nav-child">
        <dd><a lay-href="">基本资料</a></dd>
        <dd><a lay-href="">修改密码</a></dd>
      </dl>
    </dd>
  </dl>
</li>
