<div class="layui-card layadmin-breadcrumb">
  <div class="layui-breadcrumb" lay-filter="LAY-filter-breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>高级</cite></a>
    <a><cite>通讯系统</cite></a>
    <a><cite>客服系统</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">面板外的操作示例</div>
        <div class="layui-card-body">
          <div class="layui-btn-container">
            <button class="layui-btn" data-type="kefu1">在线客服一</button>
            <button class="layui-btn" data-type="kefu2">在线客服二</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
