<div class="layui-card layadmin-breadcrumb">
  <div class="layui-breadcrumb" lay-filter="LAY-filter-breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>组件</cite></a>
    <a><cite>数据表格</cite></a>
    <a><cite>开启复选框</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">开启复选框</div>
        <div class="layui-card-body">
          <table class="layui-hide" id="LAY-id-table-checkbox" lay-filter="LAY-filter-table-checkbox"></table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  layui.use('table', () => {
    let table = layui.table,
      setter = layui.setter

    table.render({
      elem: '#LAY-id-table-checkbox',
      url: setter.api + 'json/table/user.json',
      cols: [
        [
          { type: 'checkbox' },
          { field: 'id', title: 'ID', sort: true, width: 80 },
          { field: 'username', title: '用户名', width: 80 },
          { field: 'sex', title: '性别', sort: true, width: 80 },
          { field: 'city', title: '城市', width: 80 },
          { field: 'sign', title: '签名', minWidth: 100 },
          { field: 'experience', title: '积分', sort: true, width: 80 },
          { field: 'score', title: '评分', sort: true, width: 80 },
          { field: 'classify', title: '职业', width: 80 },
          { field: 'wealth', title: '财富', sort: true, width: 135 },
        ],
      ],
      page: true,
    })
  })
</script>
