<div class="layui-card layadmin-breadcrumb">
  <div class="layui-breadcrumb" lay-filter="LAY-filter-breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>组件</cite></a>
    <a><cite>数据表格</cite></a>
    <a><cite>开启单选框</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">开启单选框</div>
        <div class="layui-card-body">
          <table
            class="layui-hide"
            id="LAY-table-radio"
            lay-filter="LAY-filter-table-radio"
          ></table>

          <script type="text/html" id="table-toolbarTpl">
            <div class="layui-btn-container">
              <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
            </div>
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  layui.use('table', () => {
    let setter = layui.setter,
      table = layui.table

    table.render({
      elem: '#LAY-table-radio',
      url: setter.api + 'json/table/user.json',
      toolbar: '#table-toolbarTpl',
      cols: [
        [
          { type: 'radio' },
          { field: 'id', width: 80, title: 'ID', sort: true },
          { field: 'username', width: 80, title: '用户名' },
          { field: 'sex', width: 80, title: '性别', sort: true },
          { field: 'city', width: 80, title: '城市' },
          { field: 'sign', title: '签名', minWidth: 100 },
          { field: 'experience', width: 80, title: '积分', sort: true },
          { field: 'score', width: 80, title: '评分', sort: true },
          { field: 'classify', width: 80, title: '职业' },
          { field: 'wealth', width: 135, title: '财富', sort: true },
        ],
      ],
      page: true,
    })

    //头工具栏事件
    table.on('toolbar(LAY-filter-table-radio)', (obj) => {
      let checkStatus = table.checkStatus(obj.config.id) //获取选中行状态
      switch (obj.event) {
        case 'getCheckData':
          let data = checkStatus.data //获取选中行数据
          if (data.length === 0) return layer.msg('你未选中任何数据')
          layer.alert(JSON.stringify(data))
          break
      }
    })
  })
</script>
