<div class="layui-card layadmin-breadcrumb">
  <div class="layui-breadcrumb" lay-filter="LAY-filter-breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>组件</cite></a>
    <a><cite>数据表格</cite></a>
    <a><cite>数据表格的重载</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">数据表格的重载</div>
        <div class="layui-card-body">
          <div class="layui-form" style="margin-bottom: 10px;">
            <label class="layui-form-label">搜索ID：</label>
            <div class="layui-input-inline">
              <input
                type="text"
                class="layui-input"
                id="LAY-id-table-search"
                name="id"
                lay-verify="required"
                autocomplete="off"
              />
            </div>
            <button class="layui-btn" id="LAY-id-search-btn" lay-submit lay-filter="LAY-filter-table-search">
              搜索
            </button>
          </div>
          <table class="layui-hide" id="LAY-id-table-reload" lay-filter="LAY-filter-table-reload"></table>
          <blockquote class="layui-elem-quote">
            此处由于是静态模拟数据，所以搜索后重载的结果没变，这并非是
            BUG。实际使用时改成真实接口并根据搜索的字段筛选出对应的数据即可。
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  layui.use('table', () => {
    let $ = layui.$,
      table = layui.table,
      admin = layui.admin,
      form = layui.form

    table.render({
      elem: '#LAY-id-table-reload',
      url: '/single/json/table/user.json',
      cols: [
        [
          { type: 'checkbox', fixed: true },
          {
            field: 'id',
            title: 'ID',
            sort: true,
            width: 80,
            fixed: true,
          },
          { field: 'username', title: '用户名', width: 80 },
          { field: 'sex', title: '性别', sort: true, width: 80 },
          { field: 'city', title: '城市', width: 80 },
          { field: 'sign', title: '签名' },
          { field: 'experience', title: '积分', sort: true, width: 80 },
          { field: 'score', title: '评分', sort: true, width: 80 },
          { field: 'classify', title: '职业', width: 80 },
          { field: 'wealth', title: '财富', sort: true, width: 135 },
        ],
      ],
      page: true,
    })

    admin.focusEnd($('.layui-form').find('[name=id]'))
    admin.enterSubmit($('#LAY-id-search-btn'))
    form.on('submit(LAY-filter-table-search)', (data) => {
      let field = data.field
      table.reload('LAY-id-table-reload')
    })
  })
</script>
