<div class="layui-card layadmin-breadcrumb">
  <div class="layui-breadcrumb" lay-filter="LAY-filter-breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>组件</cite></a>
    <a><cite>数据表格</cite></a>
    <a><cite>设置单元格样式</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">设置单元格样式</div>
        <div class="layui-card-body">
          <table class="layui-hide" id="LAY-id-table-style"></table>
          <script type="text/html" id="LAY-id-usernameTpl">
            <a lay-href="{{ layui.router().path.join('/') }}/id={{d.id}}" class="layui-table-link" target="_blank">{{d.username}}</a>
          </script>
          <script type="text/html" id="LAY-id-sexTpl">
            {{# if(d.sex==='女'){ }}
              <span style="color: #F581B1;">{{d.sex}}</span>
            {{# }else{ }}
              {{d.sex}}
            {{# } }}
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  layui.use('table', () => {
    let table = layui.table,
      setter = layui.setter
    console.log(layui.router())
    table.render({
      elem: '#LAY-id-table-style',
      url: setter.api + 'json/table/user.json',
      height: 310,
      cols: [
        [
          { field: 'id', title: 'ID', sort: true, width: 80 },
          {
            field: 'username',
            title: '用户名',
            width: 80,
            templet: '#LAY-id-usernameTpl',
          },
          {
            field: 'sex',
            title: '性别',
            sort: true,
            width: 80,
            templet: '#LAY-id-sexTpl',
          },
          { field: 'city', title: '城市', width: 80 },
          { field: 'sign', title: '签名' },
          {
            field: 'experience',
            title: '积分',
            sort: true,
            width: 80,
            style: 'background-color: #eee',
          },
          { field: 'score', title: '评分', sort: true, width: 80 },
          {
            field: 'classify',
            title: '职业',
            width: 80,
            style: 'background-color: #009688; color:#fff',
          },
          { field: 'wealth', title: '财富', sort: true, width: 135 },
        ],
      ],
      page: true,
      skin: 'row',
      even: true,
    })
  })
</script>
