<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>功能演示一 - 上传组件</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link rel="stylesheet" href="../../../../layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../../../style/public.css" media="all" />
    <style>
      .layui-upload-img {
        width: 92px;
        height: 92px;
        margin: 0 10px 10px 0;
      }
    </style>
  </head>
  <body>
    <div class="layui-fluid">
      <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-header">普通图片上传</div>
            <div class="layui-card-body">
              <div class="layui-upload">
                <button class="layui-btn" id="LAY-upload-normal">
                  上传图片
                </button>
                <div class="layui-upload-list">
                  <img class="layui-upload-img" id="LAY-upload-normal-img" />
                  <p id="LAY-upload-error-text"></p>
                </div>
              </div>
              <blockquote class="layui-elem-quote">
                为节省服务器开销，以下示例均未配置真实上传接口，所以每次上传都会报提示：请求上传接口出现异常，这属于正常现象。
              </blockquote>
            </div>
          </div>
          <div class="layui-card">
            <div class="layui-card-header">上传多张图片</div>
            <div class="layui-card-body">
              <div class="layui-upload">
                <button class="layui-btn" id="LAY-upload-more">
                  多图片上传
                </button>
                <blockquote
                  class="layui-elem-quote layui-quote-nm"
                  style="margin-top: 10px;"
                >
                  预览图：
                  <div
                    class="layui-upload-list"
                    id="LAY-upload-more-list"
                  ></div>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="layui-card">
            <div class="layui-card-header">指定允许上传的文件类型</div>
            <div class="layui-card-body">
              <button class="layui-btn" id="LAY-upload-type1">
                <i class="layui-icon layui-icon-upload"></i>上传文件
              </button>
              <button class="layui-btn layui-btn-primary" id="LAY-upload-type2">
                <i class="layui-icon layui-icon-upload"></i>只允许压缩文件
              </button>
              <button class="layui-btn" id="LAY-upload-type3">
                <i class="layui-icon layui-icon-upload"></i>上传视频
              </button>
              <button class="layui-btn" id="LAY-upload-type4">
                <i class="layui-icon layui-icon-upload"></i>上传音频
              </button>
            </div>
          </div>
          <div class="layui-card">
            <div class="layui-card-header">设定文件大小限制</div>
            <div class="layui-card-body">
              <button class="layui-btn layui-btn-danger" id="LAY-upload-size">
                <i class="layui-icon layui-icon-upload"></i>上传图片
              </button>
              <div class="layui-inline layui-word-aux">
                这里以限制 60KB 为例
              </div>
            </div>
          </div>
          <div class="layui-card">
            <div class="layui-card-header">
              同时绑定多个元素，并将属性设定在元素上
            </div>
            <div class="layui-card-body">
              <button
                class="layui-btn LAY-upload-demoMore"
                lay-data="{url:'/a/'}"
              >
                上传A
              </button>
              <button
                class="layui-btn LAY-upload-demoMore"
                lay-data="{url:'/b/',size:5}"
              >
                上传B
              </button>
              <button
                class="layui-btn LAY-upload-demoMore"
                lay-data="{url:'/c/',accept:'file',size:10}"
              >
                上传C
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../../../layui/layui.js"></script>
    <script>
      layui
        .config({
          base: '../../../../src/',
        })
        .use(['index', 'upload'], () => {
          let $ = layui.$,
            upload = layui.upload

          // 普通图片上传
          let uploadInst = upload.render({
            elem: '#LAY-upload-normal',
            url: '/upload/',
            before(obj) {
              // 预读本地文件示例，不支持ie8
              obj.preview((index, file, result) => {
                $('#LAY-upload-normal-img').attr('src', result) // 图片链接（base64）
              })
            },
            done(res) {
              if (res.code > 0) {
                return layer.msg('上传失败')
              }
            },
            error() {
              let errorText = $('#LAY-upload-error-text')
              errorText.html(
                `<span class="layui-text-red">上传失败</span> <button class="layui-btn layui-btn-sm">重试</button>`,
              )
              errorText.find('.layui-btn').on('click', () => {
                uploadInst.upload()
              })
            },
          })
          // 多图片上传
          upload.render({
            elem: '#LAY-upload-more',
            url: '/upload/',
            multiple: true,
            before(obj) {
              obj.preview((index, file, result) => {
                $('#LAY-upload-more-list').append(
                  `<img src="${result}" alt="${file.name}" class="layui-upload-img">`,
                )
              })
            },
            done(res) {
              console.log(res)
            },
          })
          // 指定允许上传的文件类型
          upload.render({
            elem: '#LAY-upload-type1',
            url: '/upload/',
            accept: 'file', // 普通文件
            done(res) {
              console.log(res)
            },
          })
          upload.render({
            elem: '#LAY-upload-type2',
            url: '/upload/',
            accept: 'file', // 普通文件
            exts: 'zip|rar|7z', // 只允许上传压缩文件
            done(res) {
              console.log(res)
            },
          })
          upload.render({
            elem: '#LAY-upload-type3',
            url: '/upload/',
            accept: 'video', // 视频
            done(res) {
              console.log(res)
            },
          })
          upload.render({
            elem: '#LAY-upload-type4',
            url: '/upload/',
            accept: 'audio', // 音频
            done(res) {
              console.log(res)
            },
          })
          // 设定文件大小限制
          upload.render({
            elem: '#LAY-upload-size',
            url: '/upload/',
            size: 60, // 限制文件大小，单位 KB
            done(res) {
              console.log(res)
            },
          })
          // 同时绑定多个元素，并将属性设定在元素上
          upload.render({
            elem: '.LAY-upload-demoMore',
            before(obj) {
              layer.tips(`接口地址：${this.url}`, this.item, { tips: 1 })
            },
            done(res, index, upload) {
              let item = this.item
              console.log(item)
            },
          })
        })
    </script>
  </body>
</html>
