<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>功能演示二 - 上传组件</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link rel="stylesheet" href="../../../../layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../../../style/public.css" media="all" />
    <style>
      .layui-upload-img {
        width: 92px;
        height: 92px;
        margin: 0 10px 10px 0;
      }
    </style>
  </head>
  <body>
    <div class="layui-fluid">
      <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-header">选完文件后不自动上传</div>
            <div class="layui-card-body">
              <div class="layui-upload">
                <button class="layui-btn layui-btn-normal" id="LAY-id-upload-change">
                  选择文件
                </button>
                <button class="layui-btn" id="LAY-id-upload-doUpload">
                  开始上传
                </button>
              </div>
            </div>
          </div>
          <div class="layui-card">
            <div class="layui-card-header">拖拽上传</div>
            <div class="layui-card-body">
              <div class="layui-upload-drag" id="LAY-id-upload-drag">
                <i class="layui-icon layui-icon-upload"></i>
                <p>点击上传，或将文件拖拽到此处</p>
              </div>
            </div>
          </div>
          <div class="layui-card">
            <div class="layui-card-header">高级应用：制作一个多文件列表</div>
            <div class="layui-card-body">
              <div class="layui-upload">
                <button class="layui-btn layui-btn-normal" id="LAY-id-upload-list">
                  选择多文件
                </button>
                <div class="layui-upload-list">
                  <table class="layui-table">
                    <thead>
                      <tr>
                        <th>文件名</th>
                        <th>大小</th>
                        <th>状态</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody id="LAY-id-upload-list-view"></tbody>
                  </table>
                </div>
                <button class="layui-btn" id="LAY-id-upload-doList">
                  开始上传
                </button>
              </div>
            </div>
          </div>
          <div class="layui-card">
            <div class="layui-card-header">绑定原始文件域</div>
            <div class="layui-card-body">
              <input type="file" name="file" id="LAY-id-upload-primary" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../../../layui/layui.js"></script>
    <script>
      layui
        .config({
          base: '../../../../src/',
        })
        .use(['index', 'upload'], () => {
          let $ = layui.$,
            upload = layui.upload

          // 选完文件后不自动上传
          upload.render({
            elem: '#LAY-id-upload-change',
            url: '/upload/',
            auto: false,
            bindAction: '#LAY-id-upload-doUpload',
            before(obj) {
              console.log(obj)
            },
            done(res) {
              console.log(res)
            },
          })
          // 拖拽上传
          upload.render({
            elem: '#LAY-id-upload-drag',
            url: '/upload/',
            done(res) {
              console.log(res)
            },
          })
          // 多文件列表示例
          let fileListView = $('#LAY-id-upload-list-view'),
            uploadInst = upload.render({
              elem: '#LAY-id-upload-list',
              url: '/upload/',
              accept: 'file',
              multiple: true,
              auto: false,
              bindAction: '#LAY-id-upload-doList',
              choose(obj) {
                // 将每次选择的文件追加到文件队列
                let files = (this.files = obj.pushFile())
                // 读取本地文件
                obj.preview((index, file, result) => {
                  let tr = $(
                    [
                      `<tr id="upload-${index}">`,
                      `<td>${file.name}</td>`,
                      `<td>${(file.size / 1024).toFixed(1)}kb</td>`,
                      `<td>等待上传</td>`,
                      '<td>',
                      '<button class="layui-btn layui-btn-sm layui-hide" data-type="reload">重传</button>',
                      '<button class="layui-btn layui-btn-sm layui-btn-danger" data-type="del">删除</button>',
                      '</td>',
                    ].join(''),
                  )
                  tr.find('.layui-btn').on('click', function () {
                    let type = $(this).data('type')
                    // 单个重传
                    if (type === 'reload') {
                      obj.upload(index, file)
                    }
                    // 删除
                    else if (type === 'del') {
                      delete files[index] // 删除对应的文件
                      tr.remove()
                      // 清空 input file 值，以免删除后出现同名文件不可选
                      uploadInst.config.elem.next()[0].value = ''
                    }
                  })
                  fileListView.append(tr)
                })
              },
              done(res, index, upload) {
                if (res.code === 0) {
                  let tr = fileListView.find(`tr#upload-${index}`),
                    tds = tr.children()
                  tds.eq(2).html(`<span style="color:#5fb878">上传成功</span>`)
                  tds.eq(3).html('') // 清空操作
                  return delete this.files[index] // 删除文件队列已经上传成功的文件
                }
                this.error(index, upload)
              },
              error(index, upload) {
                let tr = fileListView.find(`tr#upload-${index}`),
                  tds = tr.children()
                console.log(tds)
                tds.eq(2).html(`<span class="layui-text-red">上传失败</span>`)
                tds.eq(3).find('button[data-type="reload"]').removeClass('layui-hide') // 显示重传
              },
            })
          // 绑定原始文件域
          upload.render({
            elem: '#LAY-id-upload-primary',
            url: '/upload/',
            done(res) {
              console.log(res)
            },
          })
        })
    </script>
  </body>
</html>
