<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>layuiAdmin 回帖管理 iframe 框</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link
      rel="stylesheet"
      href="../../../layuiadmin/layui/css/layui.css"
      media="all"
    />
  </head>
  <body>
    <div
      class="layui-form"
      id="LAY-app-forum-replys-form"
      lay-filter="LAY-app-forum-replys-form"
      style="padding: 20px 30px 0 0;"
    >
      <div class="layui-form-item">
        <label class="layui-form-label">回帖内容</label>
        <div class="layui-input-block">
          <textarea
            name="content"
            lay-verify="required"
            class="layui-textarea"
            placeholder="请输入"
            style="height: 200px;"
          ></textarea>
        </div>
      </div>
    </div>
    <script src="../../../layuiadmin/layui/layui.js"></script>
    <script>
      layui
        .config({
          base: '../../../layuiadmin/',
        })
        .extend({
          index: 'lib/index',
        })
        .use(['index', 'form'])
    </script>
  </body>
</html>
