<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>layuiAdmin 社区系统 - 回帖列表</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link rel="stylesheet" href="../../../../layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../../../style/public.css" media="all" />
  </head>
  <body>
    <div class="layui-fluid">
      <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-header layui-form layadmin-card-header-auto">
              <div class="layui-form-item">
                <div class="layui-inline">
                  <label class="layui-form-label">回帖人</label>
                  <div class="layui-input-inline">
                    <input
                      type="text"
                      class="layui-input"
                      name="replyer"
                      lay-verify="required"
                      placeholder="请输入"
                      autocomplete="off"
                    />
                  </div>
                </div>
                <div class="layui-inline">
                  <label class="layui-form-label">回帖内容</label>
                  <div class="layui-input-inline">
                    <input
                      type="text"
                      class="layui-input"
                      name="content"
                      lay-verify="required"
                      placeholder="请输入"
                      autocomplete="off"
                    />
                  </div>
                </div>
                <div class="layui-inline">
                  <button
                    class="layui-btn layadmin-btn-replys"
                    lay-submit
                    lay-filter="LAY-filter-forum-replys-search"
                  >
                    <i
                      class="layui-icon layui-icon-search layadmin-icon-search-btn"
                    ></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="layui-card-body">
              <div style="padding-bottom: 10px;">
                <button
                  class="layui-btn layadmin-btn-replys"
                  data-type="batchDel"
                >
                  删除
                </button>
              </div>
              <table
                id="LAY-app-forum-replys"
                lay-filter="LAY-filter-forum-replys"
              ></table>
              <script type="text/html" id="avatarTpl">
                <img class="layui-circle" src={{ d.avatar }} style="display: inline-block" width="50%" height="100%">
              </script>
              <script type="text/html" id="toolTpl">
                <button class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</button>
                <button class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</button>
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../../../layui/layui.js"></script>
    <script>
      layui
        .config({
          base: '../../../../src/',
        })
        .use(['index', 'forum'], () => {
          let $ = layui.$,
            form = layui.form,
            table = layui.table,
            event = {
              batchDel() {
                let checkStatus = table.checkStatus('LAY-app-forum-replys'),
                  checkData = checkStatus.data

                if (checkData.length === 0) return layer.msg('请选择数据')
                layer.confirm(
                  '确定删除选中的数据吗',
                  { icon: 3, title: '提示' },
                  (index) => {
                    //执行 Ajax 后重载
                    // $.ajax({})
                    table.reload('LAY-app-forum-replys')
                    layer.msg('已删除')
                  },
                )
              },
            }

          // 监听搜索
          form.on('submit(LAY-filter-forum-replys-search)', (data) => {
            let field = data.field
            table.reload('LAY-app-forum-replys', { where: field })
          })

          $('.layadmin-btn-replys').on('click', function () {
            let type = $(this).data('type')
            event[type] && event[type].call(this)
          })
        })
    </script>
  </body>
</html>
