/* 本样式文件主要用来控制layout布局页元素的颜色,其他子页面不使用本样式文件 */
/* 页面默认背景色和字体颜色 */
body {
  background-color: #f8f8f8;
  color: #565656;
}

/* 文本颜色 */
.layui-text-red {
  color: #ff5722;
}
.layui-text-orange {
  color: #ffb800;
}
.layui-text-green {
  color: #009688;
}
.layui-text-cyan {
  color: #2f4056;
}
.layui-text-blue {
  color: #1e9fff;
}
.layui-text-black {
  color: #393d49;
}
.layui-text-gray {
  color: #565656;
}

/* 头部背景色 */
.layui-layout-admin .layui-header {
  background-color: #fff;
}

/* logo背景色 */
.layui-layout-admin .layui-header .layui-logo {
  background-color: #42b983;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

/* logo字体颜色 */
.layui-layout-admin .layui-header .layui-logo h1 {
  color: #fff;
}

/* 头部左侧导航背景色 */
.layui-header .layui-nav .layui-this,
.layui-header .layui-shrink i:hover {
  background-color: #f8f8f8;
}

/* 头部导航的字体颜色 */
.layui-nav .layui-nav-item a,
.layui-tabs-page .layui-tabs-select .layui-nav-child a,
.layui-header .layui-shrink i {
  color: rgba(86, 86, 86, 0.6) !important;
}

/* 头部导航选中时的字体颜色 */
.layui-nav .layui-this a,
.layui-nav .layui-nav-item a:hover,
.layui-shrink i:hover {
  color: #565656 !important;
}

/* 头部右侧下拉更多三角图标颜色 */
.layui-header .layui-nav .layui-nav-more {
  border-top-color: rgba(86, 86, 86, 0.6);
}

/* 头部右侧下拉更多展开时三角图标颜色 */
.layui-header .layui-nav .layui-nav-mored {
  border-color: transparent transparent rgba(86, 86, 86, 0.6);
}

/* 下拉菜单选中时的字体颜色 */
.layui-header .layui-nav .layui-nav-child .layui-this > a,
.layui-tabs-page .layui-tabs-select .layui-nav-child .layui-this > a {
  color: #fff !important;
}

/* 左侧菜单背景色 */
.layui-layout-admin .layui-side,
.layui-layout-admin .layui-side .layui-nav,
.layui-popup-menu .layui-nav {
  background-color: #42b983;
}

/* 左侧菜单鼠标悬停时的背景色 */
.layui-side .layui-nav .layui-nav-item a:hover,
.layui-popup-menu .layui-nav .layui-nav-item a:hover {
  background-color: #009688;
}

/* 左侧菜单字体颜色 */
.layui-side .layui-nav .layui-nav-item a,
.layui-side .layui-nav .layui-nav-item.layui-nav-itemed a,
.layui-popup-menu .layui-nav .layui-nav-item a {
  color: rgba(255, 255, 255, 0.9) !important;
}

/* 左侧菜单鼠标悬停和选中时的字体颜色 */
.layui-side .layui-nav .layui-this.layui-nav-item > a,
.layui-side .layui-nav .layui-nav-child .layui-this > a,
.layui-side .layui-nav .layui-nav-item a:hover,
.layui-popup-menu .layui-nav .layui-nav-item a:hover {
  color: #fff !important;
}

/* tab选项卡背景色 */
.layui-layout-admin .layui-tabs-page {
  background-color: #fff;
  border-top: 1px solid #f8f8f8;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

/* tab选项卡右边下拉菜单的背景色 */
.layui-tabs-page .layui-tabs-select {
  background: 0 0;
}

/* 选项卡控制按钮hover时的背景色 */
.layui-tabs-page .layui-tabs-control:hover,
.layui-tabs-page .layui-tab-title li:hover {
  background-color: #f8f8f8;
}

/* 选项卡未激活时的圆点颜色 */
.layui-tabs-page .layui-tab-title .layui-tab-active {
  background-color: lightgray;
}

/* 选项卡激活时的圆点颜色 */
.layui-tabs-page .layui-tab-title .layui-this .layui-tab-active {
  background-color: #42b983;
}

/* 选项卡的字体颜色 */
.layui-tabs-page .layui-tab-title li {
  border-right: 1px solid whitesmoke;
  color: dimgray;
}
