<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>按钮</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link rel="stylesheet" href="../../../../layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../../../style/public.css" media="all" />
  </head>
  <body>
    <style>
      .layui-layout-admin .layui-footer {
        left: 0;
        background-color: #fff;
        padding: 10px 0;
        text-align: center;
        box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.05);
      }
    </style>
    <div class="layui-fluid">
      <div class="layui-card">
        <div class="layui-card-header">表单组合(方框风格)</div>
        <div class="layui-card-body layui-form layui-form-pane" style="padding: 15px;">
          <div class="layui-form-item">
            <label class="layui-form-label">单行输入框</label>
            <div class="layui-input-block">
              <input
                type="text"
                class="layui-input"
                name="title"
                placeholder="请输入标题"
                autocomplete="off"
                lay-verify="title"
              />
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">用户名</label>
              <div class="layui-input-inline">
                <input
                  type="text"
                  class="layui-input"
                  name="username"
                  placeholder="请输入"
                  autocomplete="off"
                  lay-verify="required"
                />
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">密码</label>
              <div class="layui-input-inline">
                <input
                  type="password"
                  name="password"
                  class="layui-input"
                  lay-verify="pass"
                  placeholder="请输入密码"
                  autocomplete="off"
                />
              </div>
              <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">手机</label>
              <div class="layui-input-inline">
                <input type="tel" class="layui-input" name="phone" lay-verify="required|phone" autocomplete="off" />
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">邮箱</label>
              <div class="layui-input-inline">
                <input type="text" class="layui-input" name="email" lay-verify="email" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">多规则验证</label>
              <div class="layui-input-inline">
                <input type="text" class="layui-input" name="number" lay-verify="required|number" autocomplete="off" />
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">日期</label>
              <div class="layui-input-inline">
                <input
                  type="text"
                  id="LAY-id-form-group-date"
                  class="layui-input"
                  name="date"
                  lay-verify="date"
                  placeholder="yyyy-MM-dd"
                  autocomplete="off"
                />
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">身份证</label>
              <div class="layui-input-inline">
                <input type="text" class="layui-input" name="identity" lay-verify="identity" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">链接</label>
            <div class="layui-input-block">
              <input type="text" class="layui-input" name="url" lay-verify="url" autocomplete="off" />
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">范围</label>
            <div class="layui-input-block">
              <div class="layui-inline">
                <input type="text" class="layui-input" name="price_min" placeholder="￥" autocomplete="off" />
              </div>
              <div class="layui-inline">-</div>
              <div class="layui-inline">
                <input type="text" class="layui-input" name="price_max" placeholder="￥" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">单行选择框</label>
            <div class="layui-input-block">
              <select name="interest">
                <option value=""></option>
                <option value="0">写作</option>
                <option value="1">阅读</option>
                <option value="2" selected>游戏</option>
                <option value="3">音乐</option>
                <option value="4">旅行</option>
              </select>
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">分组选择框</label>
              <div class="layui-input-inline">
                <select name="quiz">
                  <option value="">请选择问题</option>
                  <optgroup label="城市记忆">
                    <option value="你工作的第一个城市">你工作的第一个城市</option>
                  </optgroup>
                  <optgroup label="学生时代">
                    <option value="你的工号">你的工号</option>
                    <option value="你最喜欢的老师">你最喜欢的老师</option>
                  </optgroup>
                </select>
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">搜索选择框</label>
              <div class="layui-input-inline">
                <script type="text/html" template>
                  {{# let modules=['layer','form','layim','element','laytpl','upload','laydate','laypage','flow','util','code','tree','layedit','nav','tab','table','select','checkbox','switch','radio']
                  }}
                  <select name="modules" lay-verify="required" lay-search>
                    <option value="">直接选择或搜索选择</option>
                    {{# layui.each(modules, (index,item)=>{ }}
                    <option value="{{ index }}">{{ item }}</option>
                    {{# }) }}
                  </select>
                </script>
              </div>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">联动选择框</label>
            <div class="layui-input-block">
              <div class="layui-inline">
                <select name="prov">
                  <option value="">请选择省</option>
                  <option value="浙江" selected>浙江省</option>
                  <option value="江西">江西省</option>
                  <option value="福建">福建省</option>
                </select>
              </div>
              <div class="layui-inline">
                <select name="city">
                  <option value="">请选择市</option>
                  <option value="杭州">杭州</option>
                  <option value="宁波" disabled="">宁波</option>
                  <option value="温州">温州</option>
                  <option value="台州">台州</option>
                  <option value="绍兴">绍兴</option>
                </select>
              </div>
              <div class="layui-inline">
                <select name="country">
                  <option value="">请选择县/区</option>
                  <option value="西湖区">西湖区</option>
                  <option value="余杭区">余杭区</option>
                  <option value="拱墅区">临安市</option>
                </select>
              </div>
              <div class="layui-inline">
                <div class="layui-form-mid layui-word-aux">
                  此处只是演示联动排版，并未做联动交互
                </div>
              </div>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">复选框</label>
            <div class="layui-input-block">
              <input type="checkbox" name="like[write]" title="写作" />
              <input type="checkbox" name="like[read]" title="阅读" />
              <input type="checkbox" name="like[game]" title="游戏" checked />
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">原始复选框</label>
            <div class="layui-input-block">
              <input type="checkbox" name="like[write]" title="写作" lay-skin="primary" />
              <input type="checkbox" name="like[read]" title="阅读" lay-skin="primary" checked />
              <input type="checkbox" name="like[game]" title="游戏" lay-skin="primary" />
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">开关</label>
            <div class="layui-input-block">
              <input
                type="checkbox"
                name="open"
                lay-skin="switch"
                lay-filter="LAY-filter-form-group-switch"
                lay-text="ON|OFF"
              />
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">单选框</label>
            <div class="layui-input-block">
              <input type="radio" name="sex" value="男" title="男" checked />
              <input type="radio" name="sex" value="女" title="女" />
              <input type="radio" name="sex" value="保密" title="保密" disabled />
            </div>
          </div>
          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">普通文本域</label>
            <div class="layui-input-block">
              <textarea name="text" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
          </div>
          <div class="layui-form-item layui-layout-admin">
            <div class="layui-input-block">
              <div class="layui-footer">
                <button class="layui-btn" id="LAY-id-form-submit" lay-submit lay-filter="LAY-filter-form-submit">
                  立即提交
                </button>
                <button type="reset" class="layui-btn layui-btn-primary">
                  重置
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../../../layui/layui.js"></script>
    <script>
      layui
        .config({
          base: '../../../../src/',
        })
        .use(['index', 'form', 'laydate'], () => {
          let $ = layui.$,
            admin = layui.admin,
            laydate = layui.laydate,
            form = layui.form

          admin.focusEnd($('[name=title]'))
          laydate.render({
            elem: '#LAY-id-form-group-date',
          })

          // 自定义验证规则
          form.verify({
            title(value) {
              if (value.length < 5) {
                return '标题太短了啊,至少得5个字符'
              }
            },
            pass: [/^[\S]{6,12}$/, '密码必须6到12位'],
            content(value) {
              layedit.sync(editIndex)
            },
          })

          // 监听指定开关
          form.on('switch(LAY-filter-form-group-switch)', function (data) {
            layer.msg(this.checked ? '打开' : '关闭', {
              offset: '6px',
            })
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
          })

          // 监听提交
          form.on('submit(LAY-filter-form-submit)', (data) => {
            layer.alert(JSON.stringify(data.field), {
              title: '最终的提交信息',
            })
            return false
          })
        })
    </script>
  </body>
</html>
