<div class="layui-card layadmin-breadcrumb">
  <div class="layui-breadcrumb" lay-filter="LAY-filter-breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>组件</cite></a>
    <a><cite>动画</cite></a>
  </div>
</div>

<style>
  #LAY-id-anim-example .layui-card-body {
    padding: 15px;
  }
  #LAY-id-anim-example .LAY-anim-demo {
    margin-bottom: 50px;
    font-size: 0;
  }
  #LAY-id-anim-example .LAY-anim-demo li {
    display: inline-block;
    vertical-align: middle;
    width: 222px;
    line-height: 25px;
    padding: 20px 0;
    margin-right: -1px;
    margin-bottom: -1px;
    border: 1px solid #e2e2e2;
    font-size: 14px;
    text-align: center;
    color: #666666;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  #LAY-id-anim-example .LAY-anim-demo li .layui-icon {
    display: inline-block;
    font-size: 36px;
  }
  #LAY-id-anim-example .LAY-anim-demo li .fontclass {
    display: none;
  }
  #LAY-id-anim-example .LAY-anim-demo li .name {
    color: #c2c2c2;
  }
  #LAY-id-anim-example .LAY-anim-demo li:hover {
    background-color: #f2f2f2;
    color: #000;
  }
  #LAY-id-anim-example .LAY-anim-demo .layui-anim {
    width: 150px;
    height: 150px;
    line-height: 150px;
    margin: 0 auto 10px;
    text-align: center;
    background-color: #009688;
    cursor: pointer;
    color: #fff;
  }
</style>

<div class="layui-fluid" id="LAY-id-anim-example">
  <div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">点击演示动画</div>
        <div class="layui-card-body">
          <ul class="LAY-anim-demo">
            <li>
              <div class="layui-anim layui-circle" data-anim="layui-anim-up">
                从最底部往上滑入
              </div>
              <div>layui-anim-up</div>
            </li>
            <li>
              <div class="layui-anim layui-circle" data-anim="layui-anim-upbit">
                微微往上滑入
              </div>
              <div>layui-anim-upbit</div>
            </li>
            <li>
              <div class="layui-anim layui-circle" data-anim="layui-anim-scale">
                平滑放大
              </div>
              <div>layui-anim-scale</div>
            </li>
            <li>
              <div
                class="layui-anim layui-circle"
                data-anim="layui-anim-scaleSpring"
              >
                弹簧式放大
              </div>
              <div>layui-anim-scaleSpring</div>
            </li>
          </ul>
          <ul class="LAY-anim-demo">
            <li>
              <div
                class="layui-anim layui-circle"
                data-anim="layui-anim-fadein"
              >
                渐现
              </div>
              <div>layui-anim-fadein</div>
            </li>
            <li>
              <div
                class="layui-anim layui-circle"
                data-anim="layui-anim-fadeout"
              >
                渐隐
              </div>
              <div>layui-anim-fadeout</div>
            </li>
            <li>
              <div
                class="layui-anim layui-circle"
                data-anim="layui-anim-rotate"
              >
                360度旋转
              </div>
              <div>layui-anim-rotate</div>
            </li>
            <li>
              <div
                class="layui-anim layui-circle"
                data-anim="layui-anim-rotate layui-anim-loop"
              >
                循环动画
              </div>
              <div>追加：layui-anim-loop</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  layui.use('admin', () => {
    let $ = layui.$
    $('#LAY-id-anim-example .LAY-anim-demo .layui-anim').on(
      'click',
      function () {
        let anim = $(this).data('anim')
        // 停止循环
        if ($(this).hasClass('layui-anim-loop'))
          return $(this).removeClass(anim)

        $(this).removeClass(anim)

        setTimeout(() => {
          $(this).addClass(anim)
        })

        // 恢复渐隐
        if (anim === 'layui-anim-fadeout') {
          setTimeout(() => {
            $(this).removeClass(anim)
          }, 1300)
        }
      },
    )
  })
</script>
